<!--  Main content  -->
<main role="main" class="container my-5">
    <!--  Left side block Image and other detaiks -->
    <div class="row ">
        <div  class=" content-section col-md-4 mb-4 mt-2 ms-0 text-dark">
            
            <hr>
              <div class="text-center">
                      Some quick example text to build on the 
                      card title and make up the bulk of the card's content.
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      In hac habitasse platea dictumst quisque sagittis purus. Morbi tempus iaculis urna id volutpat. Aliquam sem fringilla ut morbi tincidunt augue interdum.
                      Ac odio tempor orci dapibus ultrices in iaculis nunc. Nunc vel risus commodo viverra. Scelerisque viverra mauris in aliquam sem. Arcu bibendum at varius vel pharetra vel turpis.
                      Ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Eget mauris pharetra et ultrices. Sollicitudin aliquam ultrices 
                  sagitt
              </div>
          </div>

      <!--  Rigth side block -->
      <div class="col-lg-8 col-md-7 d-none d-md-block mr-auto mt-2">
          {% block content  %}

          {% endblock %}
    </div>
</div>
</main>