{% extends 'layout.html' %}

{% block mainContent %}
{% include 'postHeader.html' %}

<!--  Submenu for posts that display posts table of contents -->
<div class="post-submenu d-flex flex-row justify-content-between">
    <div class="container my-3">
      <a 
      data-bs-toggle="offcanvas" data-bs-target="#offcanvasSubmenu" 
      aria-controls="offcanvasSubmenuLabel" aria-expanded="false" 
      >
      <svg  width="24" height="24" fill="#F90"><use xlink:href="#sidenav"></use></svg>
      </a>
      <a href="#category" class="link ms-2 me-2">Tutorials </a> <svg  width="17" height="17" fill="#F90"><use xlink:href="#chevron"></use></svg> <a href="subcatgeory" class="link">JavaScript</a>
    </div>

    <div class="post-rs-mobile my-3 me-4"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasMore" 
        aria-controls="offcanvasMore" aria-expanded="false" >
        <svg  width="17" height="17" fill="#F90"><use xlink:href="#more"></use></svg>
        </a>

    </div>

</div>

<!--  Offcanvas for submenu -->
<div class="offcanvas off-submenu offcanvas-start bg-prim" tabindex="-1" id="offcanvasSubmenu" aria-labelledby="offcanvasSubmenuLabel">
    <div class="offcanvas-body ">
      <div class="col-12 off-body-scroll">
        <p class="h4 text-white">In this article</p>
        <div class="container table-content  d-flex flex-column">
          <a href="#" class="link mb-3">What is innerHTML</a>
          <a href="#" class="link mb-3">What is innerHTML</a>
          <a href="#" class="link mb-3">What is innerHTML</a>
          <a href="#" class="link mb-3">What is innerHTML</a>
          <a href="#" class="link mb-3">What is innerHTML</a>
          <a href="#" class="link mb-3">What is innerHTML</a>

        </div>
        <p class="h4 text-white mt-2">In this category</p>
        <div class="container ">
          <a class="text-white" href="#">Understanding JavaScript</p>
          <a class="text-white" href="#">Build your first Android App with JavaScript,React Native and Expo Go</p>
          <a class="text-white" href="#"> Understanding the method map for JavaScript Array</p>
          <a class="text-white" href="#">Introduce yourself to NodeJs: A beginner path</p>
          <a class="text-white" href="#">Understanding JavaScript</p>
          <a class="text-white" href="#">Introduction to Ajax: Powerfull for ML Computations</p>
        </div>

        <p class="h4 text-white mt-2">Related posts</p>
        <div class="container ">
          <a class="text-white" href="#">Understanding JavaScript</p>
          <a class="text-white" href="#">Build your first Android App with JavaScript,React Native and Expo Go</p>
          <a class="text-white" href="#"> Understanding the method map for JavaScript Array</p>
          <a class="text-white" href="#">Introduce yourself to NodeJs: A beginner path</p>
          <a class="text-white" href="#">Understanding JavaScript</p>
          <a class="text-white" href="#">Introduction to Ajax: Powerfull for ML Computations</p>
        </div>

        <p class="h4 text-white mt-2">Related links</p>
        <div class="container ">
          <a class="text-white" href="#">Understanding JavaScript</p>
          <a class="text-white" href="#">Build your first Android App with JavaScript,React Native and Expo Go</p>
          <a class="text-white" href="#"> Understanding the method map for JavaScript Array</p>
          <a class="text-white" href="#">Introduce yourself to NodeJs: A beginner path</p>
          <a class="text-white" href="#">Understanding JavaScript</p>
          <a class="text-white" href="#">Introduction to Ajax: Powerfull for ML Computations</p>
        </div>
      </div>
  </div>

</div>





<!--  Offcanvas more  -->
<div class="offcanvas offcanvas-end bg-prim" tabindex="-1" id="offcanvasMore" aria-labelledby="offcanvasMoreLabel">

  <div class="offcanvas-header d-flex justify-content-between  ">
    <!-- <a  type="button" class="text-reset" aria-label="Close" data-bs-dismiss="more" ><svg  width="24" height="24" fill="#F90"><use xlink:href="#menu"></use></svg></a> -->
    <h2 class="h6 text-white">Article Actions</h2>
    <!-- <a  type="button" class=" text-reset" data-bs-dismiss="offcanvas" aria-label="Close" >Menu</a> -->
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body ">
    <div class=" ">
      <h2 class="h6 text-white"><svg  width="17" height="17" fill="#F90"><use xlink:href="#languages"></use></svg> Translate </h2>
    <div class="d-flex flex-column">
    <a href="" class="link mb-3"> English(US) </a>
    <a href="" class="link mb-3"> French</a>
    <a href="" class="link mb-3"> Chinese</a>
   </div>
   </div>
   <span class="text-white">Download <svg  width="17" height="17" fill="#F90"><use xlink:href="#pdf"></use></svg> </span>
      
  </div>
</div>

</div>

<div class="post-container ">
{{ content|safe }}

</div>


<div class=" feedback-mobile">
  <div class="container mb-0">
  <p class="h2"> Help me imporve my writings</p>
  <p> Was this page helpfull to you? </p>
  </div>
  <div class=" d-flex flex-row justify-content-between w-50 ms-2">
    <button class="btn px-4"><svg  width="17" height="17" fill="black"><use xlink:href="#thumbup"></use></svg>  Yes
    </button>
    <button class="btn px-4"><svg  width="17" height="17" fill="black"><use xlink:href="#thumbdown"></use></svg>  No
    </button>
  </div>
 
  <div class="container d-flex">
    <div class="w-25 h-2 mt-2 float-right">
    <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='profile.jpeg')}}">
    </div>

    <div class="mx-2 post-content-div">
    <h1 class=" h4 mb-0 mt-2"> <a class=" text-white post-link" href="{{ url_for('postsContent', blog_name='example')}}">Unraveling spectral properties of kernel matrices – I</a></h1>
    <small class=" text-white mt-0 post-content"> Posted on July 24, 2024 | By  <a class="link" href="/home" >Jeremie Mabiala. </a></small>
    </div>
</div>
<div class="container">
  <p><span  class="h2 fs-5 ">Follow :</span> 
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="17" height="17" fill="#D9D9D9"><use xlink:href="#twitter"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="17" height="17" fill="#D9D9D9"><use xlink:href="#linkedin"></use></svg></a>
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="17" height="17" fill="#D9D9D9"><use xlink:href="#facebook"></use></svg></a>
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="17" height="17" fill="#D9D9D9"><use xlink:href="#youtube"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.github.com/jnlandu"><svg  width="17" height="17" fill="#D9D9D9"><use xlink:href="#github"></use></svg> </a>
  </p>
  </div>
  <div class="container">
    <p> Subscribe to leave a comment</p>
  </div>
</div>
<div class="container d-flex flex-row justify-content-between mt-5">
    <button class="btn follow-next-posts"><svg  width="17" height="17" fill="#D9D9D9"><use xlink:href="#arrowright"></use></svg><span class="ms-3"> Code and Code blocks </span></button>
    <button class="btn follow-next-posts"><span class=" me-3">Banach spaces</span><svg  width="17" height="17" fill="#D9D9D9"><use xlink:href="#arrowleft"></use></svg> </button>
  </div>

</div>

<!--  Posts foot -->

{% include 'footer.html' %}



<script>
    document.addEventListener("DOMContentLoaded", function() {
      const preElements = document.querySelectorAll('pre');
      preElements.forEach(pre => {
        // const codeTitle = document.createElement('div');
        // codeTitle.className = 'code-title';
        // const language = pre.querySelector('code').className.replace('language-', '');
        // codeTitle.textContent = language;
        // pre.insertBefore(codeTitle, pre.firstChild);
        
        const copyButton = document.createElement('button');
        copyButton.className = 'copy-button';
        copyButton.classList.add('bg-yellow','yellow')
        copyButton.textContent = 'Copy Code';
        copyButton.addEventListener('click', () => {
          navigator.clipboard.writeText(pre.querySelector('code').textContent).then(() => {
            copyButton.innerHTML = check
            copyButton.textContent = 'Copied!';
            setTimeout(() => { copyButton.textContent = 'Copy Code'; }, 2000);
          });
        });
        pre.insertBefore(copyButton, pre.firstChild);
      });
    });
  </script>
{% endblock %}



