{% extends 'layout.html' %}

{% block customStyle %}
<link rel="stylesheet" href="styles.css">
{% endblock %}

<!--   -->
div class="col-lg-4  bg-dark ">
            
            <div class="container">
                <div class="container-1 ">
                    <h2 class="h3  border-bottom my-2 "> Contact</h2>
                    <div class="child-1">
                        <h2 class="h5 fw-bold my-2">Address: </h2>
                            418 Km2, Joal Road, Mbour-Tripano, AIMS Residence, City of Mbour| Senegal
                    </div>
                    <div class="child-2 my-3">
                        <h2 class="h5 fw-bold my-2">Phone: </h2>
                        <p class="my-2"><svg  width="24" height="24"><use xlink:href="#phone"></use></svg>
                            +221 77 200 38 35 
                        </p>
                        <p class="my-0"><svg  width="24" height="24"><use xlink:href="#whatsapp"></use></svg>
                            + 27 71 44 35 490
                        </p>
                    </div>
                    <div class="child-3 mt-3">
                        <h2 class="h5 fw-bold mb-2">Social Media: </h2>
                        <p><a class="" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" ><use xlink:href="#twitter"></use></svg>
                            @Valentinmabiala
                        </a></p>
                        <p><a class="" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="24" height="24"><use xlink:href="#linkedin"></use></svg>
                            Jérémie  Nlandu
                        </a>
                        </p>
                    </div>
                </div>
                <div class="container-2 mt-4">
                    <h2 class="h3  border-bottom mt-2 mb-2  "> Additional Skills</h2>
                    <div class="child-1">
                    <h2 class="h5 fw-bold mb-0">Programming Efficiency: </h2>
                        <ul>
                            <li>Technical Skills</strong>: Python, Java, C++, TensorFlow, Keras, SQL, Git</li>
                        </ul>
                    </div>
                    <div class="child-2">
                        <h2 class="h5 fw-bold mb-0">Data Management Systems: </h2>
                        <ul>
                            <li>Technical Skills</strong>: Python, Java, C++, TensorFlow, Keras, SQL, Git</li>
                        </ul>
                     </div>
                     <div class="child-3">
                        <h2 class="h5 fw-bold mb-0">Languages Efficiency: </h2>
                        <ul>
                            <li>Languages</strong>: English (Fluent), Spanish (Intermediate)</li>
                        </ul>
                    </div>
                    <div class="child-1">
                        <h2 class="h5 fw-bold mb-0">Soft Skills: </h2>
                        <ul>
                            <li>Soft Skills</strong>: Teamwork, Communication, Problem-solving, Critical Thinking</li>
                            
                        </ul>
                    </div>
                
                </div>

                <div class="container-2 mt-4">
                    <h2 class="h3  border-bottom mt-2 mb-2  "> Awards and Honours</h2>
                    <div class="child-1">
                        <ul>
                            <li>Technical Skills</strong>: Python, Java, C++, TensorFlow, Keras, SQL, Git</li>
                        </ul>
                    </div>
                        
                </div>

            </div>

        </div>

        <!--  -->

{% block contentHome %}
<div class="container d-flex justify-content-center mt-5 w-75 h-75">
    <div class="row">
        <div class="col-lg-4  bg-dark ">
            <div class="container my-5">
                <img src="{{url_for('static', filename='drj.jpeg')}}" class="img-fluid w-auto h-50 rounded">
                <h2 class="h1 lg mt-3">  Jérémie  N. Mabiala</h2>
            </div>
            <div class="container">
                <div class="container-1 ">
                    <h2 class="h3  border-bottom my-2 "> Contact</h2>
                    <div class="child-1">
                        <h2 class="h5 fw-bold my-2">Address: </h2>
                            418 Km2, Joal Road, Mbour-Tripano, AIMS Residence, City of Mbour| Senegal
                    </div>
                    <div class="child-2 my-3">
                        <h2 class="h5 fw-bold my-2">Phone: </h2>
                        <p class="my-2"><svg  width="24" height="24"><use xlink:href="#phone"></use></svg>
                            +221 77 200 38 35 
                        </p>
                        <p class="my-0"><svg  width="24" height="24"><use xlink:href="#whatsapp"></use></svg>
                            + 27 71 44 35 490
                        </p>
                    </div>
                    <div class="child-3 mt-3">
                        <h2 class="h5 fw-bold mb-2">Social Media: </h2>
                        <p><a class="" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" ><use xlink:href="#twitter"></use></svg>
                            @Valentinmabiala
                        </a></p>
                        <p><a class="" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="24" height="24"><use xlink:href="#linkedin"></use></svg>
                            Jérémie  Nlandu
                        </a>
                        </p>
                    </div>
                </div>
                <div class="container-2 mt-4">
                    <h2 class="h3  border-bottom mt-2 mb-2  "> Additional Skills</h2>
                    <div class="child-1">
                    <h2 class="h5 fw-bold mb-0">Programming Efficiency: </h2>
                        <ul>
                            <li>Technical Skills</strong>: Python, Java, C++, TensorFlow, Keras, SQL, Git</li>
                        </ul>
                    </div>
                    <div class="child-2">
                        <h2 class="h5 fw-bold mb-0">Data Management Systems: </h2>
                        <ul>
                            <li>Technical Skills</strong>: Python, Java, C++, TensorFlow, Keras, SQL, Git</li>
                        </ul>
                     </div>
                     <div class="child-3">
                        <h2 class="h5 fw-bold mb-0">Languages Efficiency: </h2>
                        <ul>
                            <li>Languages</strong>: English (Fluent), Spanish (Intermediate)</li>
                        </ul>
                    </div>
                    <div class="child-1">
                        <h2 class="h5 fw-bold mb-0">Soft Skills: </h2>
                        <ul>
                            <li>Soft Skills</strong>: Teamwork, Communication, Problem-solving, Critical Thinking</li>
                            
                        </ul>
                    </div>
                
                </div>

                <div class="container-2 mt-4">
                    <h2 class="h3  border-bottom mt-2 mb-2  "> Awards and Honours</h2>
                    <div class="child-1">
                        <ul>
                            <li>Technical Skills</strong>: Python, Java, C++, TensorFlow, Keras, SQL, Git</li>
                        </ul>
                    </div>
                        
                </div>

            </div>

        </div>
        <div class="col-lg-8 bg-light text-dark">
            <div class="container section-1 ">
                <h2 class="h3  border-bottom mt-2 mb-2  "> Education</h2>
                <div class=" container">
                    <h2 class="h4 fw-bold mb-0"> Master of Science in Artificial Intelligent</h2>
                    <p class="mt-0"> African Institute for Mathematical Sciences, Mbour, Senegal| Feb. 2024 - present</p>
                    <ul class="ul">
                        <li> Relevant coursework: Optimization, Bio-statistics, Statistical Learning and Data Science, Python</li>
                        <li> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                        <li> Relevant projects: </li>
                    </ul>
                    
                    <h2 class="h4 fw-bold mb-0"> Master of Science in Mathematical Sciences</h2>
                    <p class="mt-0"> Stellenbosch University, School of Mathematics, Cape Town, South Africa | Jan. 2023- March 2024</p>
                    <ul class="ul">
                        <li> Thesis: " Gaussian Processes for Multivariate Functional Data</li>
                        <li> Grade: 3.4/4.0 </li>
                        <li> Relevant coursework: Optimization, Bio-statistics, Statistical Learning and Data Science, Python</li>
                        <li> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                    </ul>

                    <h2 class="h4 fw-bold mb-0"> Hounors degree in Mathematical Sciences</h2>
                    <p class="mt-0"> University of Kinshasa, School of Mathematics and  Computer Science, Kinshasa, Congo | Oct. 2015 - Dec. 2021</p>
                    <ul class="ul">
                        <li> Major: Mathemaics | Minor: Computer Science</li>
                        <li> Thesis: "The Daugavet Property in Banach Spaces"</li>
                        <li> Grade: 3.3/4.0 </li>
                        <li> Relevant coursework: Functional Analysis, Differential Geometry,Optimization, Mathematical Statistics, Stochastic Process and Probability</li>
                        <li> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                    </ul>

                    <h2 class="h4 fw-bold mb-0"> Bachelor of Science in Mathematical Sciences</h2>
                    <p class="mt-0"> University of Kinshasa, School of Mathematics and  Computer Science, Kinshasa, Congo | Oct. 2015 - Dec. 2021</p>
                    <ul class="ul">
                        <li> Major: Mathemaics | Minor: Computer Science</li>
                        <li> Thesis: "Metrizabilty of the Compact-Open Topology in C(R,R)"</li>
                        <li> Relevant coursework: Functional Analysis, Differential Geometry,Optimization, Mathematical Statistics, Stochastic Process and Probability</li>
                        <li> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                    </ul>
                    
                </div>
            </div>
            <div class="container section-2 ">
                <h2 class="h3  border-bottom mt-2 "> Research and Teaching Experience</h2>
                <h2 class="h4 fw-bold mb-0"> Research  and Teaching Assistant</h2>
                    <p class="mt-0"> School of Mathematics and  Computer Science, University of Kinshasa | Jan 2021 - Jan. 2023 </p>
                    <ul class="ul">
                        <li> Conducted research on Functional Analysis, Differential Geometry </li>
                        <li> Contributed to the Book Real Analysis </li>
                        <li> Published findings in local journals</li>
                    </ul>
                <h2 class="h4 fw-bold mb-0"> Teaching Assistant </h2>
                <p class="mt-0"> University of Kikwit, School of Mathematics and  Computer Science, Kikwit, Congo | Feb. 2022 -  Apr. 2022</p>
                <ul class="ul">
                    <li> Thesis: "The Daugavet Property in Banach Spaces"</li>
                    <li> Grade: 3.3/4.0 </li>
                    <li> Relevant coursework: Functional Analysis, Differential Geometry,Optimization, Mathematical Statistics, Stochastic Process and Probability</li>
                    <li> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                </ul>
            </div>
            <div class="download container">
                <p> Download my complete cv: <a href="cv.pdf"> here</a></p>

            </div>
            <!-- 
            <div class="container section-3 ">
                <h2 class="h3  border-bottom mt-2 "> Work Experience and Volunteership</h2>
                Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Tempore inventore eveniet,
                 ea qui sequi repellendus ipsam, repellat magnam quos assumenda 
                fugit architecto quidem nihil ullam, sunt laudantium quaerat fuga 
                adipisci!

            </div>
            <div class="container  section-4">
                <h2 class="h3 border-bottom "> Skills</h2>
                Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Tempore inventore eveniet,
                 ea qui sequi repellendus ipsam, repellat magnam quos assumenda 
                fugit architecto quidem nihil ullam, sunt laudantium quaerat fuga 
                adipisci!

            </div>
            <div class="container section-5 ">
                <h2 class="h3 border-bottom "> Publications and Presentations</h2>
                Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Tempore inventore eveniet,
                 ea qui sequi repellendus ipsam, repellat magnam quos assumenda 
                fugit architecto quidem nihil ullam, sunt laudantium quaerat fuga 
                adipisci!

            </div>
            <div class="container  section-6">
                <h2 class="h3 border-bottom "> Awards and Honors</h2>
                Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Tempore inventore eveniet,
                 ea qui sequi repellendus ipsam, repellat magnam quos assumenda 
                fugit architecto quidem nihil ullam, sunt laudantium quaerat fuga 
                adipisci!
            </div>
            <div class="container  section-6">
                <h2 class="h3 border-bottom "> References</h2>
                Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Tempore inventore eveniet,
                 ea qui sequi repellendus ipsam, repellat magnam quos assumenda 
                fugit architecto quidem nihil ullam, sunt laudantium quaerat fuga 
                adipisci!

            </div> -->
        </div>
    </div>
</div>  


{% endblock %}

</article>
<div class="container">
    <h1>Jane Doe</h1>
    <p>123 Academic Avenue, City, Country</p>
    <p>Email: <a href="mailto:janedoe@example.com">janedoe@example.com</a></p>
    <p>Phone: +123-456-7890</p>
    <p>LinkedIn: <a href="https://linkedin.com/in/janedoe" target="_blank">linkedin.com/in/janedoe</a></p>
    <p>Personal Website: <a href="https://www.janedoe.com" target="_blank">www.janedoe.com</a></p>

    <h2>Education</h2>
    <div class="section">
        <h3>Master of Science in Computer Science</h3>
        <p>University of XYZ, City, Country | September 2021 - June 2023</p>
        <ul>
            <li>Thesis: "Machine Learning Techniques for Natural Language Processing"</li>
            <li>GPA: 3.9/4.0</li>
            <li>Relevant coursework: Advanced Algorithms, Machine Learning, Natural Language Processing, Data Mining</li>
        </ul>
    </div>

    <div class="section">
        <h3>Bachelor of Science in Computer Science</h3>
        <p>University of ABC, City, Country | September 2017 - June 2021</p>
        <ul>
            <li>Thesis: "Sentiment Analysis Using Deep Learning"</li>
            <li>GPA: 3.8/4.0</li>
            <li>Graduated with Honors</li>
        </ul>
    </div>

    <h2>Research Experience</h2>
    <div class="section">
        <h3>Research Assistant</h3>
        <p>Department of Computer Science, University of XYZ | September 2021 - June 2023</p>
        <ul>
            <li>Conducted research on machine learning models for text classification tasks.</li>
            <li>Developed a novel algorithm for sentiment analysis which improved accuracy by 15%.</li>
            <li>Published findings in the Journal of Machine Learning Research.</li>
        </ul>
    </div>

    <div class="section">
        <h3>Undergraduate Researcher</h3>
        <p>Department of Computer Science, University of ABC | January 2020 - May 2021</p>
        <ul>
            <li>Worked on a project to analyze social media data using deep learning techniques.</li>
            <li>Collaborated with a team to develop a real-time sentiment analysis tool.</li>
            <li>Presented research at the International Conference on Computational Linguistics.</li>
        </ul>
    </div>

    <h2>Work Experience</h2>
    <div class="section">
        <h3>Software Engineer Intern</h3>
        <p>Tech Solutions Inc., City, Country | June 2022 - August 2022</p>
        <ul>
            <li>Developed and tested software applications for client projects.</li>
            <li>Improved application performance by optimizing database queries.</li>
            <li>Worked in an Agile team environment and contributed to sprint planning.</li>
        </ul>
    </div>

    <h2>Skills</h2>
    <div class="section">
        <ul>
            <li>Technical Skills<>: Python, Java, C++, TensorFlow, Keras, SQL, Git</li>
            <li>Soft Skills<>: Teamwork, Communication, Problem-solving, Critical Thinking</li>
            <li>Languages<>: English (Fluent), Spanish (Intermediate)</li>
        </ul>
    </div>

    <h2>Publications and Presentations</h2>
    <div class="section">
        <ul>
            <li>Doe, J., & Smith, A. (2023). "Machine Learning Techniques for Natural Language Processing." Journal of Machine Learning Research, 24(1), 123-145.</li>
            <li>Doe, J., & Brown, B. (2021). "Sentiment Analysis Using Deep Learning." Proceedings of the International Conference on Computational Linguistics, 10(2), 67-78.</li>
        </ul>
    </div>

    <h2>Awards and Honors</h2>
    <div class="section">
        <ul>
            <li>Best Thesis Award, University of XYZ (2023)</li>
            <li>Dean’s List, University of ABC (2018-2021)</li>
            <li>Scholarship for Academic Excellence, University of ABC (2019)</li>
        </ul>
    </div>

    <h2>Professional Memberships</h2>
    <div class="section">
        <ul>
            <li>Member, Association for Computational Linguistics (ACL)</li>
            <li>Member, Institute of Electrical and Electronics Engineers (IEEE)</li>
        </ul>
    </div>

    <h2>References</h2>
    <div class="section">
        <ul>
            <li>Dr. Alice Smith<br>
                Professor of Computer Science, University of XYZ<br>
                Email: <a href="mailto:alice.smith@xyz.edu">alice.smith@xyz.edu</a><br>
                Phone: +123-456-7891
            </li>
            <li>Dr. Bob Johnson<br>
                Associate Professor of Computer Science, University of ABC<br>
                Email: <a href="mailto:bob.johnson@abc.edu">bob.johnson@abc.edu</a><br>
                Phone: +123-456-7892
            </li>
            <li>Ms. Carol Lee><br>
                Software Engineering Manager, Tech Solutions Inc.<br>
                Email: <a href="mailto:carol.lee@techsolutions.com">carol.lee@techsolutions.com</a><br>
                Phone: +123-456-7893
            </li>
        </ul>
    </div>
</div>
<article>