<!-- {% extends 'layout.html' %} -->

{% block mainContent %}
</div>
<div class="container d-flex justify-content-center mt-5 w-75">
        <div class="col-lg-8" >
            <div class="container section  mb-2 ">
                <h2 class="h3  cv-section-head mt-2 mb-2 yellow "> Education</h2>
                <div class=" container ">
                    <h4 class="fw-bold mb-0 yellow "> Master of Science in Artificial Intelligent</h2>
                    <p class=" h6 mt-0 fs-6 fw-bold " > African Institute for Mathematical Sciences, Mbour, Senegal | Feb. 2024 - present</p>
                    <ul class="ul">
                        <li class="h6 fs-6"> Relevant coursework: Optimization, Bio-statistics, Statistical Learning and Data Science, Python</li>
                        <li class="h6 fs-6"> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                    </ul>
                    
                    <h2 class="h4 fw-bold mb-0 yellow"> Master of Science in Mathematical Sciences</h2>
                    <p class="h6 mt-0 fs-6"> Stellenbosch University, School of Mathematics, Cape Town, South Africa | Jan. 2023- March 2024</p>
                    <ul class="ul">
                        <li class="h6 fs-6"> Thesis: " Gaussian Processes for Multivariate Functional Data</li>
                        <!-- <li class="h6 fs-6"> Grade: 3.4/4.0 </li> -->
                        <li class="h6 fs-6"> Relevant coursework: Optimization, Bio-statistics, Statistical Learning and Data Science, Python</li>
                        <li class="h6 fs-6"> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                    </ul>
                    <h2 class="h4 fw-bold mb-0 yellow "> Bachelor of Science in Mathematical Sciences</h2>
                    <p class="h6 mt-0 fs-6 fw-bold "> University of Kinshasa, School of Mathematics and  Computer Science, Kinshasa, Congo | Oct. 2015 - Dec. 2021</p>
                    <ul class="ul">
                        <li class="h6 fs-6"> Major: Mathemaics | Minor: Computer Science</li>
                        <li class="h6 fs-6"> Thesis: "Metrizabilty of the Compact-Open Topology in C(R,R)"</li>
                        <li class="h6 fs-6"> Relevant coursework: Functional Analysis, Differential Geometry,Optimization, Mathematical Statistics, Stochastic Process and Probability</li>
                        <li class="h6 fs-6"> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                    </ul>
                    
                </div>
            </div>
            <div class="container section  mb-2 ">
                <h2 class="h3  cv-section-head mt-2  yellow"> Research and Teaching Experience</h2>
                <h2 class="h4 fw-bold mb-0 yellow "> Research  and Teaching Assistant</h2>
                    <p class="mt-0"> School of Mathematics and  Computer Science, University of Kinshasa | Jan 2021 - Jan. 2023 </p>
                    <ul class="ul">
                        <li class="h6 fs-6"> Conducted research on Functional Analysis, Differential Geometry </li>
                        <li class="h6 fs-6"> Contributed to the Book Real Analysis </li>
                        <li class="h6 fs-6"> Published findings in local journals</li>
                    </ul>
                <h2 class="h4 fw-bold mb-0 yellow"> Teaching Assistant </h2>
                <p class="mt-0"> University of Kikwit, School of Mathematics and  Computer Science, Kikwit, Congo | Feb. 2022 -  Apr. 2022</p>
                <ul class="ul">
                    <li class="h6 fs-6"> Thesis: "The Daugavet Property in Banach Spaces"</li>
                    <li class="h6 fs-6"> Grade: 3.3/4.0 </li>
                    <li class="h6 fs-6"> Relevant coursework: Functional Analysis, Differential Geometry,Optimization, Mathematical Statistics, Stochastic Process and Probability</li>
                    <li class="h6 fs-6"> Relevant Books used: Functional Data Analysis (James and ..), Introduction to Statistical Learning (James, Hastie et al.)</li>
                </ul>
            </div>
            <div class="download container">
                <p><a  class="nav-link" href="#"> Download my complete cv: <svg  width="24" height="24" fill=" #F90"><use xlink:href="#pdf"></use></svg></a></p>

            </div>
            
        </div>
</div>  

{% endblock %}


